<div class="container">
    <div class="row">
        <div class="col-3">
            <div class="contenedor">
                <div class="accordion accordion-flush" id="accordionFlushExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseOne" aria-expanded="false"
                                aria-controls="flush-collapseOne">
                                Tallas
                            </button>
                        </h2>
                        <div id="flush-collapseOne" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="mujer" *ngIf="modulo=='mujer'">
                                    <h6>Mujer</h6>
                                    <div class="form-check">
                                        <label [class.talla-seleccionada]="tallasOn.includes(tallas.talla)" [class.talla]="!tallasOn.includes(tallas.talla)" (click)="filtroTallas(tallas.talla)" class="talla" *ngFor="let tallas of tallasMujer">
                                            {{tallas.talla}}
                                        </label>
                                    </div>
                                </div>
                                <div class="hombre" *ngIf="modulo=='hombre'">
                                    <h6>Hombre</h6>
                                    <div class="form-check">
                                        <label [class.talla-seleccionada]="tallasOn.includes(tallas.talla)" [class.talla]="!tallasOn.includes(tallas.talla)" (click)="filtroTallas(tallas.talla)" *ngFor="let tallas of tallasHombre">
                                            {{tallas.talla}}
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseTwo" aria-expanded="false"
                                aria-controls="flush-collapseTwo">
                                Marcas
                            </button>
                        </h2>
                        <div id="flush-collapseTwo" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-check" *ngFor="let marca of dataMarcas">
                                    <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault" [checked]="marcasOn.includes(marca.nombre)" (change)="filtroMarcas(marca.nombre)">
                                    <label class="form-check-label" for="flexCheckDefault">
                                        {{marca.nombre}}
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                data-bs-target="#flush-collapseThree" aria-expanded="false"
                                aria-controls="flush-collapseThree">
                                Precios
                            </button>
                        </h2>
                        <div id="flush-collapseThree" class="accordion-collapse collapse"
                            data-bs-parent="#accordionFlushExample">
                            <div class="accordion-body">
                                <div class="form-floating mb-3">
                                    <input type="text" class="form-control" id="floatingInput" placeholder="$20.000">
                                    <label for="floatingInput">Precio mínimo</label>
                                </div>
                                <div class="form-floating">
                                    <input type="text" class="form-control" id="floatingPassword"
                                        placeholder="$200.000">
                                    <label for="floatingPassword">Precio máximo</label>
                                </div>
                                <br>
                                <button type="button" class="btn btn-secondary" style="width: 100%;">Filtrar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-9">
            <div class="row">
                <div class="col-6 titulo">
                    <h1>Jeans para {{modulo}}</h1>
                </div>
                <div class="col-6">
                    <div class="form-floating">
                        <select class="form-select" id="floatingSelect" aria-label="Default select example"
                            (change)="ordenarProductos(ordenar)" [(ngModel)]="ordenar">
                            <option value="nombre,ASC">Marca (A-Z)</option>
                            <option value="nombre,DESC">Marca (Z-A)</option>
                            <option value="precio,ASC">Precio de menor a mayor</option>
                            <option selected value="precio,DESC">Precio de mayor a menor</option>
                        </select>
                        <label for="floatingSelect">Ordenar por: </label>
                    </div>
                </div>
            </div>
            <br>
            <h5 *ngIf="noProductos" style="text-align: center;">No hay productos</h5>
            <br *ngIf="noProductos">
            <div class="row" *ngIf="!noProductos">
                <div class="col-3" *ngFor="let producto of dataProductos">
                    <div class="card producto">
                        <img [src]="url_drive+producto.imagen_url" class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{producto.nombre}}</h5>
                            <p class="card-text">{{producto.marca.nombre}}</p>
                            <p class="card-text">{{producto.precio}}</p>
                            <a class="btn btn-primary agregar" style="width: 100%;">Agregar al carrito</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="contenedor">
                <div class="row">
                    <div class="col-6 total">
                        <p>{{productoRango1}} - {{productoRango2}} de {{totalProductos}} resultados</p>
                    </div>
                    <div class="col-6">
                        <app-paginacion [totalPages]="paginacion" [modulo]="modulo" [pagina]="pagina" [marca]="marca"
                            [talla]="talla"></app-paginacion>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>