.paginacion {
    text-align: right;
}

.paginacion ul {
    list-style: none;
}

.paginacion ul li {
    display: inline-block;
    margin: 3px;
}

.paginacion ul .active a {
    background-color: #212f3d;
    color: #fff;
    padding: 5px 15px;
}

.paginacion ul .disabled a{
    display: inline-block;
    cursor: not-allowed;
    color: #c8c8c8;
    text-decoration: none;
}

.paginacion ul li a {
    display: inline-block;
    padding: 3px 13px;
    border-radius: 50px;
    background: #fff;
    color: black;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
}

.paginacion ul li a:hover {
    background: #d0d3d4;
}